/* You can add global styles to this file, and also import other style files */


/* variable */

$dark: #323232;
$light-dark :#414141;
$text-dark:#292929;
$pink80:rgba(255, 64, 129, 0.8);
$pink60:rgba(255, 64, 129, 0.6);
$pink20:rgba(255, 64, 129, 0.2);
$pink:#ff4081;

/**/


/* basic elements*/

body {
    margin: 0;
    background-color: $dark;
}

a {
    text-decoration: none;
}


/**/


/* materialize */

.container {
    @media only screen and (min-width: 993px) {
        width: 85%;
    }
}

.side-nav.fixed {
    background-color: $light-dark;
    width: 270px;
    .menu {
        .active {
            background-color: $pink80;
            &:hover {
                background-color: $pink80;
            }
        }
        a {
            color: whitesmoke;
            &:hover {
                background-color: $pink60;
            }
        }
    }
    .collapsible-header:hover {
        background-color: $pink60;
    }
    .collapsible-body {
        li>a {
            padding: 0 37.5px 0 45px;
            .active {
                background-color: $pink20;
            }
        }
    }
}

.dark-theme {
    .side-nav {
        background-color: $light-dark;
    }
    .collapsible-header {
        background-color: $light-dark;
    }
    .collapsible-body,
    .side-nav.fixed .collapsible-body {
        background-color: $light-dark;
    }
}

.btn-flat {
    color: white;
    transition: color .6s;
}

.waves-effect.waves-pink .waves-ripple {
    background-color: $pink80;
}

.side-nav .collapsible-header,
.side-nav.fixed .collapsible-header {
    padding: 0 32px;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid $pink;
    box-shadow: 0 1px 0 0 $pink;
}

input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
    color: $pink;
}

.toast {
    background-color: $pink80;
}


/**/

.input-tight {
    margin-top: 0;
    margin-bottom: 0;
}

.icon-dark {
    color: $text-dark;
}

.btn-flat.btn-dark {
    border: 2px;
    color: $text-dark;
}

.main {
    padding-left: 270px;
}

.card-content {
    margin: 24px;
    padding: 16px;
    min-height: 240px;
    background-color: $light-dark;
}

.valid-text {
    height: 16px;
    margin: 0;
    line-height: 16px;
}

.text-pink:hover {
    color: $pink;
}

.text-grey:hover {
    color: #eceff1;
}

.text-blue:hover {
    color: #00bcd4;
}

.text-yellow:hover {
    color: #fbc02d;
}

.text-red:hover {
    color: #e53935;
}

.text-teal:hover {
    color: #009688;
}