/* You can add global styles to this file, and also import other style files */

$dark: #323232;
$light-dark :#414141;
$text-dark:#292929;
$pink80:rgba(240, 98, 146, 0.8);
$pink60:rgba(240, 98, 146, 0.6);
$pink20:rgba(240, 98, 146, 0.2);
$pink:#f06292;
body {
    margin: 0;
    background-color: $dark;
}

a {
    text-decoration: none;
}

.container {
    @media only screen and (min-width: 993px) {
        width: 85%;
    }
}

.side-nav.fixed {
    background-color: $light-dark;
    width: 270px;
    li {
        .active {
            background-color: $pink80;
            &:hover {
                background-color: $pink80;
            }
        }
        >a {
            color: whitesmoke;
            &:hover {
                background-color: $pink60;
            }
        }
    }
    .collapsible-header:hover {
        background-color: $pink60;
    }
    .collapsible-body {
        background-color: $light-dark;
        li>a {
            padding: 0 37.5px 0 45px;
            .active {
                background-color: $pink20;
            }
        }
    }
}

.icon-dark {
    color: $text-dark;
}

.btn-flat.btn-dark {
    border: 2px;
    color: $text-dark;
}

.main {
    padding-left: 270px;
}

.card-content {
    margin: 24px;
    padding: 16px;
    min-height: 240px;
    background-color: $light-dark;
}

.btn-flat {
    color: white;
    transition: color .6s;
}

.waves-effect.waves-pink .waves-ripple {
    background-color: $pink80;
}

.side-nav .collapsible-header,
.side-nav.fixed .collapsible-header {
    padding: 0 32px;
}

.text-pink:hover {
    color: $pink;
}

.text-grey:hover {
    color: #eceff1;
}

.text-blue:hover {
    color: #00bcd4;
}

.text-yellow:hover {
    color: #fbc02d;
}

.text-red:hover {
    color: #e53935;
}

.text-teal:hover {
    color: #009688;
}