<div class="container">
    <div class="row">
        <div style="text-align:center">
            <h1>
                Welcome to {{ title }}!
            </h1>
        </div>
        <div class="card-content z-depth-1">
            <p>1/26</p>
            <p>bugfix & angular material test & nav UI > v8.1</p>
            <p>combine user-auth.service and user-data.service </p>
            <p>child router & nest component</p>
        </div>
        <div class="card-content z-depth-1">
            <p>1/25</p>
            <p>bugfix & application restructure(mainly service) > v7.1</p>
            <p>change materialize to next.materialize drop jquery > v7.2</p>
            <p>application restructure(service folder) > v7.3</p>
            <p>combine user-auth.service and user-data.service </p>
            <p>child router & nest component</p>
        </div>
        <div class="card-content z-depth-1">
            <p>1/24</p>
            <p>materialize service & bugfix > v6.1</p>
            <P>application restructure >v6.2(in progress)</P>
            <p>child router & nest component</p>
        </div>
        <div class="card-content z-depth-1">
            <p>1/23</p>
            <p>complete user auth > v5.1</p>
            <p>login&logout detail > v5.2</p>
            <p>click-stop-propagation directive > v5.3</p>
            <p>change codewar question style > v5.3</p>
            <p>code war partice - two to one - averages of numbers > v5.4</p>
        </div>
        <div class="card-content z-depth-1">
            <p>1/22</p>
            <p>change navbar to left-side-nav > v4.1</p>
            <p>user auth simulator > 4.2</p>
        </div>
    </div>
</div>